@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;700&display=swap');

:root{

    --background: #000000; 
    --red:  #C20000;
    --blue: #001f70;
    --Gradient: linear-gradient(180deg, #000000 0%, rgba(83, 83, 83, 0.577381) 25%, rgba(196, 196, 196, 0) 87.5%);
    --font: Titilium Web, Sans-Serif;
}
*{
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    background-color: var(--background);
    font-family: var(--font);
}
.imagem-banner{
    width: 90%;
}
.topo {
    width: 100%;
    height: 75px;
    background-color: black;
}
.content{
    width: 100%;
    max-width: 75em;
    height: 100%;
    background-color: black;
    margin: auto;
}
.flex-spbt-center{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--font);
    text-decoration: none;
}
.header-top img{
    max-width: 21.18em;
}
.menu{
    width: 100%;
    max-width: 50em;
}
.menu ul{
    list-style-type: none;
}
.menu a{
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    text-transform: uppercase;
    padding: 0.9em 0.66em;
    font-family: var(--font);
}
.menu a:hover{
    background-color: var(--red);
    text-shadow: 20 20 20px #fff;
    text-decoration: none;
    transition: 0.5s;
}
#menu-bars{
    display: none;
}
.Banner{
    position: relative;
}
.Content-banner{
    width: 100%;
    height: 37.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.banner-content{
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    background-color:rgba(255, 235, 205, 0.384);
    justify-content: center;
    top: 0;
}
.texto-banner{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}    
.texto-banner h1{
    font-size: 50px;
    font-family: var(--font);
    color: white;
}
.texto-banner p{
    font-size: 30px;
    font-family: var(--font);
    color: white;
}
.texto-banner a{
    color: white;
    font-size: 30px;
    font-family: var(--font);
    background-color: var(--red);
    padding: 10px 45px;
    border-radius: 12px;
    margin-top: 32px;
    text-decoration: none;
    transition: 0.3s;
}
.texto-banner a:hover{
    background-color: rgb(0, 0, 0);
    color: white;
}
.jogos{
    width: 100%;
    height: 7.5em;
}
.jogos ul{
    width: 100%;
    list-style-type: none;
}
.jogos img{
    width: 170px;
}
.jogos ul a:hover img{
    transition:0.5s;
    transform: scale(1.5);
}
.about {
    height: 31.25em;
    background-color: var(--blue);
    position: relative;
}
.about-angulation {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
}
.angulation {
    height: 24.125em;
    width: 100%;
    background-color: var(--background);

    transform: skewY(-4deg);
}    
.container-about {
    color: white;
    position: absolute;
    top: 0;
}
.content-about {
    width: 80%;
    margin:auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.text-about {
    width: 50%;
    text-align: justify;
}
.text-about h2 {
    margin-bottom: 1em;
    font-size: 2.1875em;
}
.text-about p {
    font-size: 1.25em;
}
.content-about img {
    max-width: 31.875em;
}

/* até 1199px */
@media screen and (max-width: 74.93em){
   

}
/* até 991px */
@media screen and (max-width: 61.93em){
    
}
/* até 767px */
@media screen and (max-width: 47.93em){
    #menu-bars{
        display: inline;
    }
}
/* até 576px */
@media screen and (max-width: 36em){


}