@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;700&display=swap');

:root{

    --background: #000000; 
    --red:  #C20000;
    --blue: #001f70;
    --Gradient: linear-gradient(180deg, #000000 0%, rgba(83, 83, 83, 0.577381) 25%, rgba(196, 196, 196, 0) 87.5%);


    --font: 'Titilium Web', 'Sans-Serif';
}


body {
    background-color: var(--background);
    font-family: var(--font);
}

*{
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

@media screen and (max-width: 1199px){
    body{
        background-color: var(--red);
    }
}

@media screen and (max-width: 991px){
    
}

@media screen and (max-width: 767px){

}

@media screen and (max-width: 576px){


}